<form action="">
    <input type="text" placeholder="Почта">
    <input type="text" placeholder="Логин">
    <input type="text" placeholder="Имя">
    <input type="text" placeholder="Фамилия">
    <input type="number" placeholder="Телефон">
    <input type="password" placeholder="Пароль">
    <input type="password" placeholder="Пароль (ещё раз)">
    <div>
        <button type="button">Зарегестрироваться</button>
        <button type="button">Войти</button>
    </div>
</form>